<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<form th:action="@{/pilot/update/{licenseNumber}(licenseNumber=${pilot.licenseNumber})}" th:object="${updatedPilot}"
		method="POST">
		Name: <br>
		<input type="text" name="name" th:field="${pilot.name}" />
		<br>
		Fly Hour: <br>
		<input type="number" name="flyhour" th:field="${pilot.flyhour}" />
		<br><br>
		<button type="submit">Submit</button>

	</form>

</body>

</html>